{% if session['layout'] %}
{% extends "layout_admin.html" %}

{% else %}

{% extends "layout.html" %}

{% endif %}{% block bootstrap_2 %}


<form action="/ajout_categorie_user" method="POST">
    <h3>{{errorMessage}}</h3>
    <div class="inscontainer">
      <h2>ajout d'une nouvelle categorie d'utilisateur</h2>
      <img alt="" class="inc">
    </div>

    <div class="container">
      <label for="categorie_user"><b>categorie</b></label>
      <input type="text" placeholder="Entrez une nouvelle categorie d'utilisateur " name="categorie_user" required>
      <button type="submit">Enter</button>
    </div>
  </form>
{% endblock bootstrap_2 %}