{% if session['layout'] %}
{% extends "layout_admin.html" %}

{% else %}

{% extends "layout.html" %}

{% endif %}{% block bootstrap_2 %}

<form action="/ajout_fraicheur" method="POST">
    <h3>{{errorMessage}}</h3>
    <div class="inscontainer">
      <h2>ajout d'un niveau de fraicheur</h2>
      <img alt="" class="inc">
    </div>

    <div class="container">
      <label for="fraicheur"><b>fraicheur</b></label>
      <input type="text" placeholder="Entrez le niveau de fraicheur" name="fraicheur" required>
      <button type="submit">Enter</button>
    </div>
  </form>
{% endblock bootstrap_2 %}