{% if session['layout'] %}
{% extends "layout_admin.html" %}

{% else %}

{% extends "layout.html" %}

{% endif %}{% block bootstrap_2 %}


<form action="/ajout_categorie" method="POST">
    <h3>{{errorMessage}}</h3>
    <div class="inscontainer">
      <h2>ajout d'un nouveau type d'activite</h2>
      <img alt="" class="inc">
    </div>

    <div class="container">
      <label for="categorie"><b>categorie</b></label>
      <input type="text" placeholder="Entrez un nouveau type d'activite" name="categorie" required>
      <label for="fraicheur"> choisissez votre fraicheur </label>
    <SELECT id="fraicheur" name="fraicheur" size="1">
      {% for frais in fraicheur %}
            <OPTION value="{{frais[0]}}">{{frais[1]}}
        {% endfor %}
    </SELECT>
      <button type="submit">Enter</button>
    </div>
  </form>
{% endblock bootstrap_2 %}