{% if session['layout'] %}
{% extends "layout_admin.html" %}

{% else %}

{% extends "layout.html" %}

{% endif %}{% block bootstrap_2 %}
<h3>{{errorMessage}}</h3>
  <form action="/modifs" method="POST">
    <div>
    <label for="fraicheur"> choisissez votre fraicheur </label>
    <SELECT id="fraicheur" name="fraicheur" size="1">
      {% for frais in fraicheur %}
            <OPTION value="{{frais[0]}}">{{frais[1]}}
        {% endfor %}
    </SELECT>
    </div>
     <div>     
    
    <label for="categorie_user"> categorie d'utilisateur </label>
    <SELECT name="categorie_user" size="1" >
      {% for cat in categorie_user %}
            <OPTION value="{{cat[0]}}">{{cat[1]}}
      {% endfor %}
    </SELECT>
    <label for="categorie"> categorie de lieux </label>
    <SELECT name="categorie" size="1" >
      {% for cat in categorie %}
            <OPTION value="{{cat[0]}}">{{cat[1]}}
      {% endfor %}
    </SELECT>
      <button type="submit">Enter</button>
    </div>

    <div class="container" style="background-color:#f1f1f1"> </div>
  
  </form>
{% endblock bootstrap_2 %}