{% if session['layout'] %}
{% extends "layout_admin.html" %}

{% else %}

{% extends "layout.html" %}

{% endif %}
{% block bootstrap_2 %}


<form class="form-inline" action ="/recherche" method="GET">
    <input class="form-control mr-sm-2" type="search" placeholder="entrez l'adresse/nom lieu" aria-label="Search" name="recherche">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Recherche</button>
</form>

{% endblock bootstrap_2 %}
