{% if session['layout'] %}
{% extends "layout_admin.html" %}

{% else %}

{% extends "layout.html" %}

{% endif %}
{% block bootstrap_2 %}

{% for lieu in lieux %}
        <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id= "heading{{loop.index}}">
            <h2 class="mb-0">
                <h6 class="align_right">{{lieu[1]}}</h6>
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapse{{loop.index}}">
                    <!-- Titre -->{{lieu[1]}}
                </button>
            </h2>
            </div>
            <div id="collapse{{loop.index}}" class="collapse {% if loop.index == 1 %}show{% endif %}" aria-labelledby="heading{{loop.index}}" data-parent="#accordionExample" >
                <div class="card-body">
                    
                        <p class="card-text">{{lieu[2]}}</p>
                        <img src={{lieu[3]}} alt="Bootstrap" class="img-rounded">
                        <a class="nav-item nav-link" href="/modif?recherche={{lieu[0]}}">modifier</a>
                    <!-- <input id = "lat" type="text" name="recherche" value = '{{lieu[1]}}'}> -->
                    </a>
                </div>
            </div>
        </div>
        </div>
    {% endfor %}

{% endblock bootstrap_2 %}
