<html lang="fr">
<head>
    <link href="{{ url_for('static', filename='/css/style.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class = "articles">CooltoGo</title>
    <script>
        function refresh_date() {
            var madate = new Date();  
            annees   = madate.getFullYear();
            mois    = ('0'+(madate.getMonth()+1)).slice(-2);
            jours    = ('0'+madate.getDate()   ).slice(-2);
            heures   = ('0'+madate.getHours()  ).slice(-2);
            minutes = ('0'+madate.getMinutes()).slice(-2);
            secondes = ('0'+madate.getSeconds()).slice(-2);
            date_simplon = jours+"/"+mois+"/"+annees;
            heure_simplon = heures+":"+minutes+":"+secondes;
            document.getElementById("date_SIMPLON").innerHTML=date_simplon;
            document.getElementById("heure_SIMPLON").innerHTML=heure_simplon;
            timer = setTimeout("refresh_date()",1000);
        }

    </script>
</head>
<body onload="refresh_date()">
    <nav class="navbar navbar-dark bg-dark justify-content-between">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <a class="navbar-brand" href="{{ url_for('get_home') }}">{{session['user.pseudo']}}</a>
                <a class="navbar-brand" id="date_SIMPLON"></a>
                <a class="navbar-brand" id="heure_SIMPLON"></a>
            </ol>      
        </nav>
       
        <nav>
            <ol>
                
                <a class="navbar-brand" href="{{ url_for('get_inscription') }}">inscrire membre</a>
                <a class="navbar-brand" href="{{ url_for('get_home') }}">modifier fraicheur</a>
                <a class="navbar-brand" href="/fraicheur">ajout fraicheur</a>
                <a class="navbar-brand" href="/categorie">ajout categorie</a>
                <a class="navbar-brand" href="/user">ajout type user</a>

                <a class="navbar-brand" href="{{ url_for('get_logout') }}">Se déconnecter</a>
            </ol>
        </nav>
    </nav>
    <div id="c_container">          
        <div class="content">
            <!-- {% block content %}
    
            {% endblock content %} -->
            
            {% block bootstrap_2 %}
    
            {% endblock bootstrap_2 %}

            <!-- <div class="clear"></div> -->
        </div>
    </div>
        
</body>
    <!-- <script src="bootstrap/js/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script> -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</html>